/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.8rem;
  line-height: 1;
  color: #ddd;
  background-color: #333;
}

/* Template */

$link-color: rgb(49, 182, 100);

h1 {
  font-size: 4rem;
  margin-bottom: 1.25rem;
}

h2 {
  font-size: 3rem;
}

p {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    color: lighten($link-color, 5%);
    transition: 0.3s ease;
  }
}

b {
  font-weight: bold;
}

code {
  padding: 0 3px;
  border-radius: 3px;
  font-family: courier, monospace;
  background-color: #555;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
  flex: 1 1;
  width: 100%;
  max-width: 1024px;
  height: auto;
  margin: 0 auto;
  background-color: #000;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1.5rem;
}
